.reveal.smaller .slides h1 {
  font-size: 65px;
}

.reveal.smaller .slides h2 {
  font-size: 55px;
  text-decoration: underline;
  text-align: center;
}

.reveal.smaller .slides h3 {
  font-size: 45px;
}

.reveal.smaller .slides h4 {
  font-size: 40px;
}

.reveal .footer {
  color: #FFFFFF;
}

.reveal a {
  text-decoration: underline dotted;
}

.reveal pre.sourceCode code {
  background-color: #191919;
}

.reveal div.sourceCode pre code {
  font-size: 35px;
  font-family: Liberation Sans;
}

.reveal .fragment.highlight-current-custom.current-fragment {
  font-weight: bold;
  color: #FFFFFF;
}

:root {
  --r-main-font: Liberation Sans;
  --r-header-font: Liberation Sans;
}

u.dotted {
  border-bottom: 1px dashed #999;
  text-decoration: none;
}
