/*-- scss:defaults --*/

@mixin vertical-gradient($top, $bottom ) {
  background: $top;
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom));
  background: -webkit-linear-gradient(top, $top 0%, $bottom 100%);
  background: -o-linear-gradient(top, $top 0%, $bottom 100%);
  background: -ms-linear-gradient(top, $top 0%, $bottom 100%);
  background: linear-gradient(top, $top 0%, $bottom 100%);
}

@mixin horizontal-gradient($top, $bottom ) {
  background: $top;
  background: -moz-linear-gradient(left, $top 0%, $bottom 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $top), color-stop(100%, $bottom));
  background: -webkit-linear-gradient(left, $top 0%, $bottom 100%);
  background: -o-linear-gradient(left, $top 0%, $bottom 100%);
  background: -ms-linear-gradient(left, $top 0%, $bottom 100%);
  background: linear-gradient(left, $top 0%, $bottom 100%);
}

@mixin radial-gradient($outer, $inner, $type: circle) {
  background: $outer;
  background: -moz-radial-gradient(center, $type cover, $inner 0%, $outer 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $inner), color-stop(100%, $outer));
  background: -webkit-radial-gradient(center, $type cover, $inner 0%, $outer 100%);
  background: -o-radial-gradient(center, $type cover, $inner 0%, $outer 100%);
  background: -ms-radial-gradient(center, $type cover, $inner 0%, $outer 100%);
  background: radial-gradient(center, $type cover, $inner 0%, $outer 100%);
}

@mixin light-bg-text-color($color ) {
  section.has-light-background {

    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color;
    }
  }
}

@mixin dark-bg-text-color($color ) {
  section.has-dark-background {

    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color;
    }
  }
}

// Background of the presentation
$backgroundColor: #FFFFFF;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingColor: #000000;
$headingLineHeight: 1.2;
$headingFont: 'Liberation Sans', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$heading1TextShadow: $headingTextShadow;

// Primary/body text
$mainFont: 'Liberation Sans', sans-serif;
$mainFontSize: 30px;
$mainColor: #000000;

$codeFont: monospace;

// Links and actions
$linkColor: #0032A0;
$linkColorHover: lighten($linkColor, 20%);

// Text selection
$selectionBackgroundColor: #000000;
$selectionColor: #FFFFFF;

// Colors used for UI elements that are overlaid on top of
// the presentation
$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
  background: $backgroundColor;
}
